
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

      .main-nav,
      .main-header,
    .row{
        display:flex;
        flex-flow: row wrap;
    }

      .main-header{
        flex-direction:row;
        align-items:center;
     }
    	
       .col{
      flex: 100%;
    }

/*    .primary{
      flex:1;
      }*/
 } 


@media (min-width: 1025px) {

      .main-header{
        flex-direction:row;
        justify-content:space-between;  
    }

}
